/**
 * Unyson Services Extension
 * Services -- Archive
 */

.tax-fw-services-category .site-content,
.post-type-archive-fw-services .site-content {
    background-color: #f3f8f9;
}

.tax-fw-services-category .entry-title,
.post-type-archive-fw-services .entry-title {
    display: block;
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 1.2572;
    margin-bottom: 33px;
}

/**
 * Services -- Categories
 */

.services-categories {
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: -5px;
    margin-bottom: 40px;
}

.services-categories li {
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 2.5455;
    display: inline-block;
    height: 30px;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 2px;
    border: solid 1px #d3e4e8;
    background-color: #f3f8f9;
    color: #88adb9;
}

.services-categories li a {
    display: block;
    padding: 0 10px 0 10px;
    color: #88adb9;
}

.services-categories li a:hover,
.services-categories li a:focus {
    color: #3d6889;
}

/**
 * Services -- Loop
 */

.services-list {
    list-style: none;
    padding-left: 0;
    margin-top: -40px;
}

.services-list li {
    margin-top: 40px;
}

.services-item {}
.services-item--image {
    background-color: #ffffff;
    text-align: center;
}
.services-item--inner {
    text-align: center;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: #ffffff;
}
.services-item--inner :last-child {
    margin-bottom: 0;
}
.services-item--name {
    margin-bottom: 6px;
    overflow: hidden;
    height: 52px;
}
.services-item--name h3 {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 1.04;
    text-align: center;
    /*text-transform: uppercase;*/
    margin-top: 0;
    margin-bottom: 0;
}
.services-item--name span {
    color: #88adb9;
}
.services-item--title {}
.services-item--text {
    overflow: hidden;
    height: 66px;
}