/**
 * Unyson Services Extension
 * Services -- Singular
 */

/* Services -- Menu */

.services-menu {
    margin-top: -5px;
}

.services-menu--item {
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 2.5455;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
    height: 30px;
    padding: 0 10px 0 10px;
    margin-top: 5px;
    border-radius: 2px;
    border: solid 1px #d3e4e8;
    background-color: #f3f8f9;
    color: #88adb9;
}

.services-menu--item.active,
.services-menu--item:hover,
.services-menu--item:focus {
    color: #3d6889;
}

.services-menu--item .fa {
    margin-right: 3px;
}

.fa--empty {
    opacity: 0.35;
}

/*
.services-menu--item i {
    font-family: 'Raleway', sans-serif !important;
    color: #292a2e;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.185em;
}

.services-menu--item i:before {
    font-family: 'rt-icons-2' !important;
    color: #3d6889;
    font-size: 24px;
    font-weight: normal;
    vertical-align: middle;

    position: absolute;
    left: 9px;
    top: 8px;
}

.services-menu--item.active,
.services-menu--item:hover {
    background-color: #3d6889;
}

.services-menu--item.active i,
.services-menu--item:hover i,
.services-menu--item.active i:before,
.services-menu--item:hover i:before {
    color: #ffffff;
}

/* Services -- Details */

.services--title-wrapper {
    margin-bottom: 33px;
}
.services--title {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 1.2572;
    margin-bottom: 0;
}

.services--small-description {
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: 0;
}

/**
 * Services -- Media Queries
 */

@media screen and (min-width: 15em) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

/**
 * Services -- RTL
 */

/* Services -- Menu RTL */


/* Services -- Details RTL */


/* Services -- Media Queries RTL */

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}