.breadcrumbs {
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
}

.breadcrumbs span {
    display: inline-block;
}

.breadcrumbs span a {
    color: #88adb9;
}

.breadcrumbs span a:hover {
    color: #3d6889;
}

.breadcrumbs span.last-item {
    color: #3d6889;
}

.breadcrumbs span.separator {
    text-indent: 100%;
    /*text-indent: 100px;*/
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;

    width: 8px;
    margin: 0 3px;
    padding: 0 0 0 0;
    position: relative;
}

.breadcrumbs span.separator:after {
    content: '/';
    display: inline-block;
    text-indent: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    /*color: #000;*/
}